.Order {
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

.Order ul{
    /* padding-inline-start: 0; */
    /* margin: 10px;
    padding: 10px;
    display: inline-block; */
    list-style: none;

    /* width: 100%; */
}

