.Toolbar {
    height: 56px;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    background-color: brown;
    display:flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index:3;
}

.Logo{
    height: 80%;
}

@media (max-width: 499px){
    .DesktopOnly{
        display: none;
    }
}