.RecentPost{
    width: 250px;
    padding: 16px;
    box-shadow: 2px 2px 2px gray;
    margin: 10px;
    border: 1px gray solid;
    overflow: hidden;
    box-sizing: border-box;
}
.RecentPost p{
    text-align: center;
    color: gray;
    padding: 0 0 16px 0;
}
.RecentPost:hover,
    .RecentPost:active {
        background-color: #C0DDF5;
        /* overflow: scroll; */
    }

