.NewPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 200px;
    box-shadow: 2px 2px 2px gray;
    border: 1px gray solid;
    padding: 16px;
}
.TitleInput{
    width: 100%;
    /* margin: 0 16px 0; */
}

.ContentInput{
    width: 100%;
    margin: 0 0 16px;
    padding: 0 0 100px;
}

.NewPost h1{
    font-weight: bold;
    margin: 16px 0 0;
}

.NewPost p{
    font-weight: bold;
    margin: 16px 0 0;
}

.NewPost button{
    background: none!important;
    border: none;
    padding: 0!important;
    color: darkred;    
    font-size: 16px;
}

.NewPost select {
    width: 100%;
}