.DetailedPost{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 40px 200px;
    box-shadow: 2px 2px 2px gray;
    border: 1px gray solid;
    padding: 16px;
}

.DetailedPost h1 {
    margin: 16px 4px auto 0;
}

.DetailedPost p{
    margin: 0 0 16px 0;
}

.DetailedPost .Author{
    font-size: small;
    color: gray;
}

.DetailedPost button{
    background: none!important;
    border: none;
    padding: 0!important;
    color: darkred;    
    font-size: 16px;
}