.Input{
    width:100%;
    padding: 10px;
    box-sizing: border-box;
}

.Input label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement{
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
}

.InputElement :focus{
    outline: none;
    background-color:#ccc;
}

.InvalidInputElement {
    background-color: pink;
    width: 100%;
    outline: none;
    border: 1px solid red;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
}