.auth{
    padding: auto;
    outline: 1px solid #eee;
    box-shadow: 1px 2px solid #ccc;
    width:80%;
    margin: auto;
    margin-bottom: 20px;
    text-align:center;
}

.auth form {
    margin: auto;
    width: 80%;
    padding: auto;

}