.Sidedrawer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 3;
    background-color: white;
    width: 280px;
    max-width: 70%;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media (min-width: 500px){
    .Sidedrawer{
        display: none;
    }
}

.Open{
    transform: translateX(0)
}

.Close{
    transform: translateX(-100%)
}

.Logo{
    height: 11%;
    margin-bottom: 32px;
}