.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    width: 100%;
    display: block;
}

.NavigationItem a {
    color: lightsalmon;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block; 
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: blue;

}

@media (min-width: 500px){
    .NavigationItem {
        margin:0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a {
        color: white;
        height: 100%;
        width: auto;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: lightsalmon;
        border-bottom: 4px solid lightskyblue;
        color: white;
    }

}