/* .PersonDynamic {
    border: 1px solid #eee;
    width: 60%;
    margin: auto;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

 @media (min-width: 500px) {
    .PersonDynamic { width: 450px }
}  */